/*

Author : Shubham Raichandel
Student ID : 300950762

*/



body{
	margin:0;
	padding:0;
	background: url(../Assets/images/bgg.jpg) no-repeat;
  background-size: cover;
  color: white;
}

.box{
/*	width: 600px; */
	background: rgba(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 1%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}

.box-img{
	border-radius: 100px;
	width: 200px;
	height: 200px;
}

.box h1{
	font-size: 35px;
	letter-spacing: 4px;
	font-weight: 100;
}

.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box p{
	text-align: justify;
}

ul{
	margin: 0;
	padding: 0;
}
.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}

.box li a:hover{
	color: #b9b9b9;
}


/* CSS for Project Page*/

.project{
  margin-top: 5px;
}
