<app-base-page></app-base-page>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <!-- CSS Section-->
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../.app.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark b-light">
        <a class="navbar-brand" href="/"><i class="fa fab fa-lg fa-connectdevelop"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">


            <li class="nav-item">


              <a class="nav-link" href="/"><i class="fa fa-lg fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>





            <li class="nav-item">

              <a class="nav-link" href="/about"><i class="fa fa-lg fa-info"></i> About</a>
            </li>



            <li class="nav-item">

              <a class="nav-link" href="/projects"><i class="fa fa-lg fa-briefcase"></i> Projects</a>
            </li>



            <li class="nav-item">

              <a class="nav-link" href="/services"><i class="fa fa-lg fa-code"></i> Services</a>
            </li>



            <li class="nav-item">

              <a class="nav-link" href="/contact"><i class="fa fa-lg fa-phone"></i> Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container box text-left mt-4">
          <h1 class="display-5">Hello There</h1>
          <p class="lead">I'm Shubham Raichandel, a Web Developer and Designer, Who Makes Great and Effective Things</p>
        </div>
      </div>

  <!--Script Section-->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>
</html>
