<app-base-page></app-base-page>

 <!-- Content -->

 <div class="container ">
  <h3 class="text-center mt-4">Some of my work</h3>
<!--Project 1-->
  <div class="row mt-4 align-items-center">
      <div class="col sm-4">
        <img src="../../../assets/images/projects/project1/mealplanner.png" class="img-fluid img-thumbnail float-right">
      </div>
      <div class="col sm-8 ml-2 text-left box">
      <div class="container">
          <h4>Mealogram</h4>

          <h6><b>Overview</b></h6>
          <p>
            Mealogram is a meal planning web application which is powered by Edamam API. The main objective of
            this project is to provide user automated weekly meal plans according to their Body Mass Ratio (BMR), food and
            health preferences.
          </p>

          <h6>Tools & Platform </h6>
          <p>HTML, JavaScript, Firebase, Materialized CSS</p>

          <h6>Project Duration</h6>
          <p>January 2019 - April 2019</p>
      </div>
    </div>
</div>

<!-- Project 2-->
<div class="row mt-4 align-items-center">
  <div class="col sm-4">
    <img src="../../../assets/images/projects/project2/1.png" class="img-fluid img-thumbnail float-left" height="200" width="200">
    <img src="../../../assets/images/projects/project2/2.png" class="img-fluid img-thumbnail float-right" height="200" width="200">
  </div>
  <div class="col sm-8 box ml-2 text-left">
  <div class="container">
  <h4>Bustr - Bus Tracking Application</h4>

  <h6><b>Overview</b></h6>
  <p>A simple android application through which a user can track the buses in real time and can view the detail information of nearby bus stops.</p>

  <h6><b>Platform Used</b></h6>
  <p>Android Studio, Java, Php, SQL</p>

  <h6><b>Project Duration</b></h6>
  <p>January 2016 - April 2016</p>
</div>
</div>
</div>

<!-- Project 3-->

<div class="row mt-4 mb-5 align-items-center">
<div class="col sm-4">
  <img src="../../../assets/images/projects/project3/1.jpg" class="img-fluid img-thumbnail float-right">
</div>
<div class="col sm-8 box ml-2 text-left">
<div class="container">
<h4>Snapshots</h4>

<h6><b>Overview</b></h6>
<p>A social networking website where a user can share photographs and stories. </p>

<h6><b>Platform Used</b></h6>
<p>Asp.Net, HTML, CSS, MySQL</p>

<h6><b>Project Duration</b></h6>
<p>January 2015 - April 2015</p>
</div>
</div>
</div>
